{{ define "main"}}
<!-- <ul>
  {{ range $taxonomy, $terms := site.Taxonomies }}
  <li>
    {{ with site.GetPage $taxonomy }}
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
    <ul>
      {{ range $term, $weightedPages := $terms }}
      <li>
        <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
        <ul>
          {{ range $weightedPages }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      </li>
      {{ end }}
    </ul>
  </li>
  {{ end }}
</ul> -->
<ul>
  {{ range .Site.Taxonomies.tags }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
  {{ end }}
</ul>
{{end}}
