<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>

  {{- if .Site.Params.Favicon}}
  <link rel="icon" href="{{ $.Site.Params.Favicon }}" type="image/x-icon" />
  {{- else}}
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  {{- end}}

  <!-- style css -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/baseof.css" />
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/single.css" />
  <link rel="stylesheet" href="/css/tags.css" />
  <link rel="stylesheet" href="/css/categories.css" />
  <link rel="stylesheet" href="/css/list.css" />

  <!-- js -->
  <script type="text/javascript" src="/js/common.js"></script>

  <!-- search -->
  {{- if .Site.Params.Search }}
  <link rel="stylesheet" href="/css/search.css" />
  <script type="text/javascript" src="/js/search.js"></script>
  {{- end}}

  <!-- slide -->
  {{- if .Site.Params.Slide }}
  <link rel="stylesheet" href="/css/slide.css" />
  {{- end}}

  <!-- toc -->
  {{- if .Site.Params.Toc }}
  <link rel="stylesheet" href="/css/toc.css" />
  {{- end}}

  <!-- language -->
  {{- if .Site.Params.Languages }}
  <link rel="stylesheet" href="/css/languages.css" />
  <script type="text/javascript" src="/js/languages.js"></script>
  {{- end}}

  <!-- Naver Site Verification -->
  {{- if .Site.Params.Services.NaverSiteVerification.ID}}
  <meta
    name="naver-site-verification"
    content="{{ $.Site.Params.Services.NaverSiteVerification.ID }}"
  />
  {{- end}} {{- if .Site.Params.Services.GoogleSiteVerification.ID}}
  <meta
    name="google-site-verification"
    content="{{ $.Site.Params.Services.GoogleSiteVerification.ID}}"
  />
  {{- end}} {{- if .Site.Config.Services.GoogleAnalytics.ID}}
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(
      window,
      document,
      "script",
      "dataLayer",
      "{{ $.Site.Config.Services.GoogleAnalytics.ID }}"
    );
  </script>
  <!-- End Google Tag Manager -->
  {{- end}}
</head>
