{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{ . }}</span>
    {{ end }}
  </header>
  <div class="homepage-content">{{ .Content }}</div>

  <h2>{{i18n "recent_posts" .}}</h2>
  {{ if .Site.Params.Slide }}
  <div class="slide-container">
    <div class="slide-content">
      <ul id="slide" class="slide">
        {{ range first 5 .Site.RegularPages }}
        <li>
          <div class="slide-item">
            <div class="card-image">
              {{ if .Params.thumbnail }}
              <img
                class="slide-image"
                src="/images/thumbnails/{{ .Params.thumbnail }}"
                alt="{{ .Title }}"
              />
              {{ else }}
              <div class="slide-image slide-image-sample"></div>
              {{ end }}
            </div>
            <div class="card-info">
              <div class="card-title">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
              </div>
              <div class="card-content">{{ .Params.description }}</div>
              <div class="card-footer">
                <a href="{{ .Permalink }}" class="readmore"
                  >{{i18n "read_more" .}}</a
                >
              </div>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="slide-button-container">
      <a href="#" class="arrow-prev">
        <img src="/svg/arrow-prev.svg" alt="Prev" />
      </a>
      <a href="#" class="arrow-next">
        <img src="/svg/arrow-next.svg" alt="Next" />
      </a>
    </div>

    <ul class="slide-pagination"></ul>
  </div>
  {{ else}} {{ range first 5 .Site.RegularPages }}
  <li>
    {{ if .Params.thumbnail }}
    <img src="/images/thumbnails/{{ .Params.thumbnail }}" alt="{{ .Title }}" />
    {{ end }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-content">{{ .Summary }}</div>
    <a href="{{ .Permalink }}" class="readmore">Read more</a>
  </li>
  {{ end }} {{ end }}
  <div>
    {{ range first 10 .Site.RegularPages }} {{ .Render "summary" }} {{ end }}
  </div>
</main>

{{- if .Site.Params.Slide }}
<script type="text/javascript" src="/js/slide.js"></script>
{{- end}} {{ end }}
