{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{ .Title }}</h1>
    <h1>Hello 월드</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{ . }}</span>
    {{ end }}
  </header>
  <div class="homepage-content">{{ .Content }}</div>

  <h2>{{i18n "recent_posts" .}}</h2>
  {{ if .Site.Params.Slide }}
  <div class="slide-container">
    <div class="slide-content">
      <ul id="slide" class="slide">
        {{ range first 5 .Site.RegularPages }}
        <li class="slide-item">
          {{ if .Params.thumbnail }}
          <img
            class="slide-image"
            src="/images/thumbnails/{{ .Params.thumbnail }}"
            alt="{{ .Title }}"
          />
          {{ end }}
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <div class="post-content">{{ .Summary }}</div>
          <a href="{{ .Permalink }}" class="readmore">Read more</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="slide-button-container">
      <a href="#" class="arrow-prev">
        <img src="/svg/arrow-prev.svg" alt="Prev" />
      </a>
      <a href="#" class="arrow-next">
        <img src="/svg/arrow-next.svg" alt="Next" />
      </a>
    </div>

    <ul class="slide-pagination"></ul>
  </div>
  {{ else}} {{ range first 5 .Site.RegularPages }}
  <li>
    {{ if .Params.thumbnail }}
    <img src="/images/thumbnails/{{ .Params.thumbnail }}" alt="{{ .Title }}" />
    {{ end }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-content">{{ .Summary }}</div>
    <a href="{{ .Permalink }}" class="readmore">Read more</a>
  </li>
  {{ end }} {{ end }}
  <div>
    {{ range first 10 .Site.RegularPages }} {{ .Render "summary" }} {{ end }}
  </div>
</main>

{{- if .Site.Params.Slide }}
<script type="text/javascript" src="/js/slide.js"></script>
{{- end}} {{ end }}
